<a href="https://colab.research.google.com/github/sergioGMedinaP/Awari-DS/blob/master/Tarefa_Exerc%C3%ADcio_com_API_do_BC_para_um_analise_historico_do_IPCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Tarefa: Exercício com API do BC para um analise historico do IPCA</h1>

O exercício a ser desenvolvido para a presente unidade consiste em conectar-se a uma API. O Banco Central do Brasil disponibiliza dados a respeito de diversos indicadores econômicos do país. Sua tarefa será encontrar a série histórica relativa à inflação (IPCA) na plataforma de dados abertos do BC, importá-la e transformá-la em um DataFrame do Pandas.

Você precisará criar um Jupyter Notebook (em sua máquina ou no Google Colab) com o código que mostre que a conexão com a API foi devidamente realizado. Em seguida, deverá compartilhá-lo com seu mentor através de um link criado no Colab, GitHub ou Google Drive.

In [17]:
import requests
from pandas.io.json import json_normalize
import pandas as pd
import matplotlib.pyplot as plt


from datetime import datetime

In [5]:
URL = "https://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados?formato=json"
df_banco_central = pd.read_json(URL)
df_banco_central.shape

(362, 2)

In [9]:
df_banco_central.head(10)

         data  valor
0  01/01/1991  20.27
1  01/02/1991  19.62
2  01/03/1991  13.45
3  01/04/1991   4.85
4  01/05/1991   8.15
5  01/06/1991  11.39
6  01/07/1991  12.52
7  01/08/1991   0.00
8  01/09/1991  33.39
9  01/10/1991  18.86

In [10]:
print(df_banco_central)

           data  valor
0    01/01/1991  20.27
1    01/02/1991  19.62
2    01/03/1991  13.45
3    01/04/1991   4.85
4    01/05/1991   8.15
..          ...    ...
357  01/10/2020   0.52
358  01/11/2020   0.36
359  01/12/2020   1.17
360  01/01/2021  -0.03
361  01/02/2021   0.48

[362 rows x 2 columns]

In [20]:
plt.show()